xcodestream==0.0.8
nltk==3.5
pandas==0.25.3
azure-storage-blob==12.14.0
apache-airflow==1.10.14
requests==2.25.0
pyshorteners==1.0.1
Munch==2.5.0
pyyaml==5.4.1
memoization==0.3.1
Click==7.1.2
docopt==0.6.2
PyFiglet==0.8.post1
Clint==0.5.1
PyInquirer==1.0.3
termcolor==1.1.0
coloredlogs==15.0
validators==0.18.1
